body {
    background-color: linen;
  }

  * {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
  }
  
  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }